[Unit]
Description=sdfs ctrl
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/sbin/sdfs-ctrl

[Install]
WantedBy=multi-user.target
