portals:
 <address of first portal>
 <address of second portal>
 ...

# dds, dd_hosts are only required on hosts which run controllers
dds:
 <id> <gid>
 <id> <gid>
 ...

dd_hosts:
 <address>
 <address>
 ...
